<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-05-26T08:23:46Z</date>
	<key>WorkspacePath</key>
	<string>/Users/alejandro/development/strucc-test/strucc.xcodeproj</string>
</dict>
</plist>
